body{
   background-color:  #173c51;
}
header{
    background-color: #173c51;
    padding:30px;
}

#title{
color: white;
text-align: center;
font-size: 50px;
font-weight: bold;
}
#subTitle{
color: white;
text-align: center; 
}
#readMore{
    background-color: green;
    color: white;
    text-align: center;
    padding: 8px;
    width: 200px;
    height: 40px; 
    margin: auto;
    text-align: center;
    position: relative;   
}
main{
    text-align: center;
    display: inline;
}
#navbarUl li{
    display: inline;
    padding: 0px 10px;
}
#size{
    width:100px;
}
#search{
    width: 220px;
    height: 50px;
    background-color: rgb(176, 18, 18);
    margin-left: 10px;
    color: white;
    padding: 20px;
   
}
#link{
    padding: 20px;
    text-decoration: none;  
}
