header{
    background-color: #173c51;
    padding:30px;
}

#title{
color: white;
text-align: center;
font-size: 50px;
font-weight: bold;
}
#subTitle{
color: white;
text-align: center; 
}
#readMore{
    background-color: green;
    color: white;
    text-align: center;
    padding: 8px;
    width: 200px;
    height: 40px; 
    margin: auto;
    text-align: center;
    position: relative;
    
}

