<body>
    <header>
        <h1 id="title">[ Find Your Dream Car ]</h1>
        <h1 id ="subTitle">We have more than a thousand of cars for you to choose!</h1>
        <p id="readMore">READ MORE</p>   
    </header>
    <main>
<form #homeForm="ngForm" > 
  <div class="col-md-3">
    <label for="make" class="control-label" style="color: white;">Make</label>
    <select class="form-control" id="make" name="make" class="form-control" required  [(ngModel)]="objHome.make" #make.value="ngModel" ngModel>
      <option *ngFor="let make of makers" [value]="make.id">{{ make.name }}</option>
    </select>
  </div>
</form>
<div class="card-footer" style="color:white">
  {{homeForm.value | json}}
  </div>
</main>
   
</body> 

