<body>
    <header>
        <h1 id="title">[ Find Your Dream Car ]</h1>
        <h1 id ="subTitle">We have more than a thousand of cars for you to choose!</h1>
    </header>
    <main>
<form #homeForm="ngForm" id="formHome" >
  <!---->
  <ul id="navbarUl" >
    <li>
      <div class="col-md-3" style="width: 200px; padding: 10px;">
        <label for="make" class="control-label" style="color: white;">Make</label>
        <select class="form-control" id="make" name="make" class="form-control" required  (change)="onChange($event)" [(ngModel)]="objHome.make" #make.value="ngModel" ngModel>
          <option *ngFor="let make of makers" [value]="make.id">{{ make.name }}</option>
        </select>
      </div>
    </li>
    <li>
      <div class="col-md-3" style="width: 200px; padding: 10px;">
        <label for="make" class="control-label" style="color: white;">Model</label>
        <select class="form-control" id="model" name="mode" class="form-control" required  [(ngModel)]="objHome.model" #model.value="ngModel" ngModel>
          <option *ngFor="let car of cars" [value]="car.carID">{{ car.carModel }}</option>
        </select>
      </div>
    </li>
    <li>
      <div class="col-md-3" style="width: 200px; padding: 10px;">
        <label for="make" class="control-label" style="color: white;">Max Price</label>
        <select class="form-control" id="maxPrice" name="maxPrice" class="form-control" required  [(ngModel)]="objHome.maxPrice" #maxPrice.value="ngModel" ngModel>
          <option *ngFor="let price of prices" [value]="price">${{ price }}</option>
        </select>
      </div>
    </li>
    <li>
      <div class="col-md-3"style="width: 200px; padding: 10px;">
        <label for="make" class="control-label" style="color: white;">Min Year</label>
        <select class="form-control" id="year" name="year" class="form-control" required  [(ngModel)]="objHome.year" #year.value="ngModel" ngModel>
          <option *ngFor="let year of years" [value]=year>{{ year }}</option>
        </select>
      </div>
    </li>
    <li>
      <button (click)="goToPage('postSearch')" >SEARCH</button>
    </li>
  </ul>
</form>
</main>

</body>

