
<div class="testbox">
	<form id="msform" #postForm="ngForm">
		 <h1>Edit Post</h1>
		 <h5>Please input Car's Information</h5>

		 <!--Car make and model-->
		 <div class="item">
		   <div class="name-item">
		   <input type="text" id="make" name="make" placeholder="Make" class="form-control" required  ngModel [(ngModel)]="objPost.make" #make="ngModel" disabled/>
		   <input type="text" id="model" name="model" placeholder="Model" class="form-control" required  ngModel [(ngModel)]="objPost.model" #model="ngModel" disabled  />
		</div>
		
		<!--Car year and mileage-->
		
		 
			<input type="text" id="year" name="year" placeholder="Year" class="form-control" required  ngModel [(ngModel)]="objPost.year" #year="ngModel" />
			<label>Mileage</label>	
			<input type="number" id="mileage" name="mileage" placeholder="mileage(km)" class="form-control" required  ngModel [(ngModel)]="objPost.mileage" #mileage="ngModel" />
		
		 <!--Price-->      
		 <label for="price">Price</label>
		 <input type="number" id="price" name="price" placeholder="price" class="form-control" required ngModel
				[(ngModel)]="objPost.price" #price="ngModel"/>
		<!--mileage(km) and Car condition -->
		<div class="item">
		  <div class="name-item">
		  </div>

		  <label>Condition</label>
			 <select id="condition" name="condition" class="form-control" ngModel [(ngModel)]="objPost.condition" #condition="ngModel" >
			   <option value="excellent">1: EXCELLENT</option>
			   <option value="fine"> 2: FINE</option>
			   <option value="verygood"> 3: VERY GOOD</option>
			   <option value="good"> 4: GOOD</option>
			   <option value="restorable"> 5: RESTORABLE</option>
			 </select>
		   </div>
		   <label for="title">Title</label>
		   <input type="text" id="title" name="title" class="form-control" required ngModel
		   [(ngModel)]="objPost.title" #title="ngModel"/>
		<!--Car details-->
		<h5>More details about the Car</h5>
		<div class="item" >
		  <p>Description</p>
		  <textarea rows="5" id="description" name="description" class="form-control" ngModel [(ngModel)]="objPost.description" #description="ngModel"></textarea>
	   </div>
	   <!--Seller information-->
	   
		<!--Erros-->
	  
		<div *ngIf="year.invalid &&(year.dirty||year.touched)"class="alert">
		  <p *ngIf="year.errors?.['required']" [ngClass]="'text-danger'" >
			   Year is required!
			</p>
		</div>
	
		<div *ngIf="mileage.invalid &&(mileage.dirty||mileage.touched)"class="alert">
		  <p *ngIf="year.errors?.['required']" [ngClass]="'text-danger'" >
		   Mileage(km)  is required!
			</p>
		</div>
		<div *ngIf="price.invalid &&(price.dirty||price.touched)" class="alert">
			<p *ngIf="price.errors?.['required']" [ngClass]="'text-danger'">
			  Price is required!
			</p>
		  </div>
		  <div *ngIf="title.invalid &&(title.dirty||title.touched)" class="alert">
			<p *ngIf="title.errors?.['required']" [ngClass]="'text-danger'">
			  Title is required!
			</p>
		  </div>
		
	   <!--Button-->
	   <div class="btn-block">
       <button type="submit"  (click)="btnSubmitWorks()"[disabled]="!postForm.valid">Submit</button>
	   </div>
		 </div>

	   </form>
	</div>
