
<div class="testbox">
	<form id="msform" #postForm="ngForm">
		 <h1>Edit Post</h1>
		 <h5>Please input Car's Information</h5>

		 <!--Car make and model-->
		 <div class="item">
		   <div class="name-item">
		   <input type="text" id="make" name="make" placeholder="Make" class="form-control" required  ngModel [(ngModel)]="objPost.make" #make="ngModel" />
		   <input type="text" id="model" name="model" placeholder="Model" class="form-control" required  ngModel [(ngModel)]="objPost.model" #model="ngModel"  />
		</div>
		<label>Maker</label>

		<!--Car year color-->
		 <div class="item">
			<div class="name-item">
			  <input type="text" id="year" name="year" placeholder="Year" class="form-control" required  ngModel [(ngModel)]="objPost.year" #year="ngModel" />
			  <input type="number" id="mileage" name="mileage" placeholder="mileage(km)" class="form-control" required  ngModel [(ngModel)]="objPost.mileage" #mileage="ngModel" />
			</div>
		</div>
		<!--mileage(km) and Car condition -->
		<div class="item">
		  <div class="name-item">
		  </div>

		  <label>Condition</label>
			 <select id="condition" name="condition" class="form-control" ngModel [(ngModel)]="objPost.condition" #condition="ngModel" >
			   <option value="excellent">1: EXCELLENT</option>
			   <option value="fine"> 2: FINE</option>
			   <option value="verygood"> 3: VERY GOOD</option>
			   <option value="good"> 4: GOOD</option>
			   <option value="restorable"> 5: RESTORABLE</option>
			 </select>
		   </div>

		<!--Car details-->
		<h5>More details about the Car</h5>
		<div class="item" >
		  <p>Description</p>
		  <textarea rows="5" id="description" name="description" class="form-control" ngModel [(ngModel)]="objPost.description" #description="ngModel"></textarea>
	   </div>
	   <!--Seller information-->
	   

	<!--Erros-->
	   <div *ngIf="make.invalid &&(make.dirty||make.touched)"class="alert">
		  <p *ngIf="make.errors?.['required']" [ngClass]="'text-danger'" >
			   Make is required!
			</p>
		</div>
		<div *ngIf="model.invalid &&(model.dirty||model.touched)"class="alert">
		  <p *ngIf="model.errors?.['required']" [ngClass]="'text-danger'" >
			   Model is required!
			</p>
		</div>
		<div *ngIf="year.invalid &&(year.dirty||year.touched)"class="alert">
		  <p *ngIf="year.errors?.['required']" [ngClass]="'text-danger'" >
			   Year is required!
			</p>
		</div>
	
		<div *ngIf="mileage.invalid &&(mileage.dirty||mileage.touched)"class="alert">
		  <p *ngIf="year.errors?.['required']" [ngClass]="'text-danger'" >
		   Mileage(km)  is required!
			</p>
		</div>
	

	   <!--Button-->
	   <div class="btn-block">
       <button type="submit"  (click)="btnSubmitWorks()">Submit</button>
	   </div>
		 </div>

	   </form>
	</div>
