
<header id="nav">
    <ul class="nav justify-content-left">
     <p>AutoBuy</p>
    </ul>
    <ul class="nav justify-content-left" id="navbarUl" >
        <li><a routerLink="/home">HOME</a></li>
        <li><a routerLink="/sign-up">SIGN UP</a></li>
      <div *ngIf="this.isLogin"class="alert">
        <li><a routerLink="/logout">LOGOUT</a></li>
      </div>
      <div *ngIf="!this.isLogin"class="alert">
        <li><a routerLink='/login'>LOGIN</a></li>
      </div>
        <li ><a class="userPosts" routerLink="/userManagement">Users</a></li>
        <li ><a class="userPosts" routerLink="/posts">Posts</a></li>
    </ul>
</header>
