<header>
    <ul class="nav justify-content-left" id="navbarUl">
        <img [src]='myimage1' alt="logo" class= "logo" style="height: 100px; width: 200px;">
    </ul> 
    <ul class="nav justify-content-left" id="navbarUl" >
        <li><a routerLink="/home">HOME</a></li>
        <li><a routerLink="/sign-up">SIGN UP</a></li>
        <li><a routerLink="/login">LOGIN</a></li>  
        <li ><a class="userPosts" routerLink="/userManagement">Users</a></li>      
        <li ><a class="userPosts" routerLink="/posts">Posts</a></li>  
    </ul> 
</header>
