<body>
	<form id="msform">
		<fieldset>
		  <h2 class="fs-title">Create your account</h2>
		  <input type="text" name="email" placeholder="Full Name" />
		  <input type="text" name="email" placeholder="User Name" />
		  <input type="text" name="email" placeholder="Email" />
		  <input type="password" name="pass" placeholder="Password" />
		  <input type="password" name="cpass" placeholder="Confirm Password" />
		  <input type="button" name="next" class="next action-button" value="Submit" />
		</fieldset>
	  </form>
</body>
