<body>
	<form id="msform" #userForm="ngForm" > 
		<fieldset>
		  <h2 class="fs-title">Create your account</h2>
		  <input type="text" name="name" placeholder="Full Name" class="form-control" required minlength="4" [(ngModel)]="objUser.name" #name="ngModel" ngModel/>
		  <div *ngIf="name.invalid &&(name.dirty||name.touched)"class="alert">		
			<p *ngIf="name.errors?.['required']" [ngClass]="'text-danger'" >
				 Name is required!
			  </p>
			  <small *ngIf="name.errors?.['minlength']" [ngClass]="'text-danger'">
				Name must be at least 4 characters long!
			  </small>
		  </div>
		  <input type="text" name="username" placeholder="User Name"class="form-control" required minlength="2"[(ngModel)]="objUser.username" #username="ngModel" ngModel/>	  
		  <div *ngIf="username.invalid &&(username.dirty||username.touched)"class="alert">		
			<p *ngIf="username.errors?.['required']" [ngClass]="'text-danger'" >
				 User Name is required!
			  </p>
			  <small *ngIf="username.errors?.['minlength']" [ngClass]="'text-danger'">
				User name must be at least 2 characters long!
			  </small>
		  </div> 
		  <input type="email" name="email" placeholder="Email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required [(ngModel)]="objUser.email"  #email="ngModel"  ngModel />
		  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
			<p *ngIf="email.errors?.['required']" [ngClass]="'text-danger'" >
				Email is Required
			</p>
			<div [hidden]="!email.errors?.['pattern']" [ngClass]="'text-danger'">
				Email is invalid!
			</div>
		  </div>
		  
		  <input type="password" name="pass" placeholder="Password" class="form-control"  required [(ngModel)]="objUser.password" #password="ngModel"  ngModel/>
		  <div *ngIf="password.invalid && (password.dirty || password.touched)" >
			<p *ngIf="password.errors?.['required']" [ngClass]="'text-danger'" >
		      Password is required!
			</p>
		  </div>
		  <input type="password" name="passwordAgain" placeholder="Password" class="form-control" pattern="{{password.value}}" required [(ngModel)]="objUser.passwordAgain" #passwordAgain="ngModel"  ngModel/>
		  <div *ngIf="passwordAgain.invalid && (passwordAgain.dirty || passwordAgain.touched)" >
			<p *ngIf="passwordAgain.errors?.['required']" [ngClass]="'text-danger'" >
		      Password is required!
			</p>
			<div [hidden]="!passwordAgain.errors?.['pattern']" [ngClass]="'text-danger'"> Password does not match.</div>
		  </div>

		  <button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-ptimary"(click)="btnSubmit_click()" [disabled]="!userForm.valid">Submit</button>
		</fieldset>
	  </form>
	 <div class="card-footer">
		{{userForm.value | json}}
	  </div>
</body>
