<body>
<div class="testbox">
  <form action="/">
    <div class="title">
      <p class="CarTitle">{{this.post.title}}</p><br>
    </div>
    <div class="banner">

      <img src="/assets/img/{{this.post.car.imageURL}}" alt="image" style="width: 560px; height: 220px;">
    </div>

    <div class="item">
      <div class="name-item">

        <input type="text" name="name" placeholder="Model" value="{{this.post.car.carModel}}" readonly="true"/>
        <input type="text" name="name" placeholder="Year" value="{{this.post.year}}" readonly="true"/>
      </div>
      <div class="name-item">
        <input type="text" name="name" placeholder="Mileage" value="{{this.post.mileage}} KM" readonly="true"/>
        <input type="text" name="name" placeholder="Condition" value="{{this.post.condition}}" readonly="true"/>
      </div>
    </div>
    <div class="item">
      <input type="text" name="name" placeholder="Price" value="{{this.post.price}} CA" readonly="true"/>
    </div>
    <div class="item">
      <textarea rows="5" id="description" name="description" value="{{this.post.description}}" readonly="true"></textarea>
    </div>
    <div class="item">
      <div class="name-item">
        <input type="text" name="name" placeholder="Wheelbase" value="{{this.post.car.wheelbase}}" readonly="true"/>
        <input type="text" name="name" placeholder="Length" value="Length" readonly="true"/>
      </div>
      <div class="name-item">
        <input type="text" name="name" placeholder="Height" value="{{this.post.car.height}}" readonly="true"/>
        <input type="text" name="name" placeholder="Displacement" value="{{this.post.car.displacement}}" readonly="true"/>
      </div>
    </div>

    <div class="btn-block">
      <button type="submit" href="/">buy</button>
    </div>
  </form>
</div>
</body>
