<body>
	<form id="msform">
		<fieldset>
		  <h2 class="fs-title">Are you sure you want to delete the user : </h2>

          <h3> Full Name: {{objUser.name}} </h3>
          <h3> User Name: {{objUser.username}} </h3>
          <h3> Email : {{objUser.email}}</h3>

		  <button type="button" class="btn btn-primary btn-lg"
		  style="padding-left: 5.5rem; padding-right: 5.5rem;"(click)="btnSubmitWorks()">Delete</button>
          <button type="button" class="btn btn-danger btn-lg"
		  style="padding-left: 5.5rem; padding-right: 5.5rem;"routerLink="/userManagement" > Cancel </button>
		</fieldset>
	  </form>
</body>
