<body>
    <header>
        <h1><br>Congratulations Registration done successfully!</h1><br><br>
        <p>Find the car of your dreams at a price that fits in your pocket<br>
             We are excited to make your dream come true! </p><br><br>
    </header>
    
    <main>
        <div class="wrapper">
            <div class="center">
                <button type="button" id="goHome" class="btn btn-link">
                    <a class="nav-link" routerLink="/home"><span><b>HOME</b></span></a>
                </button>
            </div>
          </div>
    </main>
    
</body>
