<div class="testbox">
  <form id="msform" #postForm="ngForm">
    <h1>Add New Post</h1>
    <h5>Please input Car's Information</h5>

    <!--Car make and model-->
    <label>Maker</label>
    <select id="make" name="make" class="form-control" required (change)="onChange($event)">
      <option value="" disabled selected>Select Maker</option>
      <option *ngFor="let make of makes" [value]="make.id">{{ make.name }}</option>
    </select>

    <label>Model</label>
    <select id="model" name="model" class="form-control" required
            [(ngModel)]="objPost.carID" #model="ngModel">
      <option *ngFor="let car of cars" [value]="car.carID">{{ car.carModel }}</option>
    </select>


    <label>Condition</label>
    <select id="condition" name="condition" class="form-control" ngModel [(ngModel)]="objPost.condition"
            #condition="ngModel">
      <option value="excellent">1: EXCELLENT</option>
      <option value="fine"> 2: FINE</option>
      <option value="verygood"> 3: VERY GOOD</option>
      <option value="good"> 4: GOOD</option>
      <option value="restorable"> 5: RESTORABLE</option>
    </select>

      <!--Car year-->
      <label for="year">Year</label>
      <input type="number" id="year" name="year" placeholder="Year" class="form-control" required ngModel
             [(ngModel)]="objPost.year" #year="ngModel"/>
      <!--Price-->      
       <label for="price">Price</label>
      <input type="number" id="price" name="price" placeholder="price" class="form-control" required ngModel
             [(ngModel)]="objPost.price" #price="ngModel"/>
      <!--mileage(km) -->
      <label for="mileage">Mileage</label>
      <input type="number" id="mileage" name="mileage" placeholder="mileage(km)" class="form-control" required
             ngModel [(ngModel)]="objPost.mileage" #mileage="ngModel"/>
             <label for="title">Title</label>
             <input type="text" id="title" name="title" class="form-control" required ngModel
                    [(ngModel)]="objPost.title" #make="ngModel"/>
    <!--Car details-->
    <h5>More details about the Car</h5>
   
    <div class="item">
      <label for="description">Description</label>
      <textarea rows="5" id="description" name="description" class="form-control" ngModel
                [(ngModel)]="objPost.description" #description="ngModel"></textarea>
    </div>

    <!--Erros-->
    
    <div *ngIf="model.invalid &&(model.dirty||model.touched)" class="alert">
      <p *ngIf="model.errors?.['required']" [ngClass]="'text-danger'">
        Model is required!
      </p>
    </div>
    <div *ngIf="price.invalid &&(price.dirty||price.touched)" class="alert">
      <p *ngIf="price.errors?.['required']" [ngClass]="'text-danger'">
        Price is required!
      </p>
    </div>

    <div *ngIf="year.invalid &&(year.dirty||year.touched)" class="alert">
      <p *ngIf="year.errors?.['required']" [ngClass]="'text-danger'">
        Year is required!
      </p>
    </div>
    <div *ngIf="mileage.invalid &&(mileage.dirty||mileage.touched)" class="alert">
      <p *ngIf="year.errors?.['required']" [ngClass]="'text-danger'">
        Mileage(km) is required!
      </p>
    </div>

    <!--Button-->
    <div class="btn-block">
      <button type="submit" (click)="submit('mypost')" [disabled]="!postForm.valid">Submit</button>
    </div>

  </form>
</div>
