<body>
	<form id="msform"> 
		<fieldset>
		  <h2 class="fs-title">Create a post</h2>
		  <input type="text" name="carMaker" placeholder="Car Make" class="form-control" />
		  
		  <input type="text" name="carModel" placeholder="Car Model" class="form-control"/>
          
          <input type="text" name="carPrice" placeholder="Car Price"class="form-control"/>	

          <input type="text" name="postAuthor" placeholder="Post Author" class="form-control"/>
		  		  
		  <button type="button" class="btn btn-primary btn-lg"
		  style="padding-left: 5.5rem; padding-right: 5.5rem;"(click)="btnSubmitWorks()">Submit</button>

          <button type="button" class="btn btn-danger btn-lg"
		  style="padding-left: 5.5rem; padding-right: 5.5rem;"routerLink="/posts" > Cancel </button>
		</fieldset>
	  </form> 
</body>

