<mat-paginator [length]="totalPosts"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="changePage($event)">
</mat-paginator>
<main>
  <nav>
    <ul class="nav justify-content-left" id="navbarUl">
      <li><h1>All Posts</h1></li>
      <li>
        <button id="addPost" routerLink="/addPost">Add post</button>
      </li>
    </ul>
  </nav>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="car_make">
      <th mat-header-cell *matHeaderCellDef> Make</th>
      <td mat-cell *matCellDef="let element"> {{element.car_make}} </td>
    </ng-container>

    <ng-container matColumnDef="car_model">
      <th mat-header-cell *matHeaderCellDef> Model</th>
      <td mat-cell *matCellDef="let element"> {{element.car_model}} </td>
    </ng-container>

    <ng-container matColumnDef="car_price">
      <th mat-header-cell *matHeaderCellDef> Price</th>
      <td mat-cell *matCellDef="let element"> {{element.car_price}} </td>
    </ng-container>

    <ng-container matColumnDef="car_description">
      <th mat-header-cell *matHeaderCellDef> Description</th>
      <td mat-cell *matCellDef="let element" style=""> {{element.car_description}} </td>
    </ng-container>

    <ng-container matColumnDef="post_author">
      <th mat-header-cell *matHeaderCellDef> post_author</th>
      <td mat-cell *matCellDef="let element"> {{element.post_author}} </td>
    </ng-container>

    <!-- username Action -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let element">
<div class="buttons">
  <a target="blank" class="button" type="button" [routerLink]="['/editPost',element.post_id]">Edit </a>
  <a target="blank" class="button" type="button" [routerLink]="['/deletePost',element.post_id]">Delete </a>
</div>
        
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</main>

