table {
    width: 100%;
   
      table-layout:fixed;
    
  }
  main{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 1248px;
  }
  .button {
    width: 50%;
    height: 30px;
    border: 0;
    cursor: pointer;
    background:#4169E1;
    border-radius: 5px;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  
  }

  .buttons a { 
    text-decoration: none;    
  }
  
  .buttons {
    display: flex;  
  }

  .button:hover{
      background: #6495ED;
  }
h1{
  font-size: 30px;
}
nav{
  padding: 10px;
}
    #navbarUl li{
     
      padding: 10px 550px 10px 10px;
      list-style: none;
     
  }
  #addPost{
    background-color: #095484;
    color: white ;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }